<header>
    <img
      src="..\..\..\assets\ce_logo.png"
      alt="Logo"
      class="logo"
    />
    <div class="header-buttons-container">
        <button ceIconButton="neutralSecondary">
            <span class="material-symbols-rounded">
                help
            </span>
        </button>
        <button ceIconButton="neutralSecondary">
            <span class="material-symbols-rounded">
                notifications
            </span>
        </button>
        <button ceIconButton="neutralSecondary">
            <span class="material-symbols-rounded">
                person
            </span>
        </button>
    </div>
</header>
