<div class="page-header">
    <span class="page-title">
      {{ "SIDENAV.SETUP" | translate }}
    </span>
  
    <div class="page-utilities">
      <button ceIconButton="neutralSecondary" class="icon-button">
        <span class="material-symbols-rounded">
          tune
        </span>
      </button>
      <button ceButton>
        <span class="material-symbols-rounded"> add </span>
        <span>
          {{ "SETUP.ADD_PARTNER" | translate }}
        </span>
      </button>
    </div>
  </div>